var _xhxxfb_message = {$_message};
var _xhxxfb_chat = {$_chat};
var _xhxxfb_cart = get_cart();
if(typeof xhxxfb_member == 'undefined') {
	$('#xhxxfb_message em').remove();
	$('#message em').remove();
	if(_xhxxfb_message) {
		$('#xhxxfb_message').append('<em>'+_xhxxfb_message+'</em>');
		$('#message').append('<em>'+_xhxxfb_message+'</em>');
	}
	if(_xhxxfb_message > xhxxfb_message && {$_sound}) {
		$('#xhxxfb_space').html(sound('message_{$_sound}'));
		xhxxfb_message = _xhxxfb_message;
	}
	{if $DT[im_web]}
	$('#xhxxfb_chat em').remove();
	$('#chats em').remove();
	if(_xhxxfb_chat) {
		$('#xhxxfb_chat').append('<em>'+_xhxxfb_chat+'</em>');
		$('#chats').append('<em>'+_xhxxfb_chat+'</em>');
	}
	if(_xhxxfb_chat > xhxxfb_chat) {
		$('#xhxxfb_space').html(sound('chat_new'));
		xhxxfb_chat = _xhxxfb_chat;
	}
	{/if}
} else {
	$('#xhxxfb_message').html(_xhxxfb_message ? '<strong>'+_xhxxfb_message+'</strong>' : 0);
	if(_xhxxfb_message > xhxxfb_message && {$_sound}) {
		$('#xhxxfb_space').html(sound('message_{$_sound}'));
		xhxxfb_message = _xhxxfb_message;
	}
	{if $DT[im_web]}
	$('#xhxxfb_chat').html(_xhxxfb_chat ? '<strong>'+_xhxxfb_chat+'</strong>' : 0);
	if(_xhxxfb_chat > xhxxfb_chat) {
		$('#xhxxfb_space').html(sound('chat_new'));
		xhxxfb_chat = _xhxxfb_chat;
	}
	{/if}
	{if isset($MODULE[16])}
	$('#xhxxfb_cart').html(_xhxxfb_cart > 0 ? '<strong>'+_xhxxfb_cart+'</strong>' : 0);
	{/if}
}